/* admin_custom.css */
.tablesorter .actions {
    text-align: center;
}
.tablesorter .actions a {
padding-left: 18px;
display: inline-block;
margin: 2px 0;
color: #666666;
text-indent: -9999px;
}
.tablesorter .actions a:hover {
color: #444444;
}
.tablesorter .actions .icn_edit {
background: url(./icn_edit.png) no-repeat center left;
}
.tablesorter .actions .icn_article_edit {
background: url(./icn_article_edit.png) no-repeat center left;
}
.tablesorter .actions .icn_trash {
background: url(./icn_trash.png) no-repeat center left;
}
.tablesorter .actions .icn_jump {
background: url(./icn_jump_back.png) no-repeat center left;
}
.tablesorter input[type="submit"].icn_save {
display: inline-block;
margin-top: 4px;
margin-right: 8px;
padding-left: 24px;
line-height: 20px;
background: url(./diskette.gif) no-repeat center left;
border: none;
font-weight: normal;
color: #77BACE;
text-align: left;
}
.tablesorter input[type="submit"].icn_save:hover {
text-decoration: underline;
}
.tablesorter .icn_cancel {
padding-left: 20px;
background: url(./icn_logout.png) no-repeat center left;
}
.tablesorter input[type="text"] {
padding: 2px;
}

textarea {
    padding: 8px;
}
input[type="text"] {
    padding: 8px;
}

input.cancel {
background: #D0D1D4 url(./btn_submit.png) repeat-x;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

input.cancel:hover {
color: #333333;
}

fieldset p {
margin: 0;
float: left;
width: 96%;
padding: 0 10px;
}
fieldset .tags span {
    padding-left: 1em;
    padding-right: 1em;
}
fieldset .tags span:first-child {
    padding-left: 0;
}
fieldset .tag span:last-child {
    padding-right: 0;
}
fieldset .tags select {
width: auto;
}

.width_quarter fieldset {
padding-bottom: 4%;
}
.width_quarter fieldset input[type=text] {
width: 82%;
}
.width_half fieldset {
    padding-bottom: 2%;
}
.width_half fieldset input[type=text] {
width: 90%;
}
